<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="connectionString" value="" />
  
  <targets>
    <target xsi:type="Database" name="databaseTarget">
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        INSERT INTO [dbo].[Log] (
        LogId, LogTime, Logger, LogLevel, Message, HttpMethod, Path, Parameters, RequestBody, RequestForm, HttpStatusCode, IP, UserId
        )
        VALUES (
        @logid, @logtime, @logger, @loglevel, @message, @httpmethod, @path, @parameters, @requestbody, @requestform, @httpstatuscode, @ip, @userid
        )
      </commandText>
      <parameter name="@logid" layout="${event-properties:logid}" />
      <parameter name="@logtime" layout="${event-properties:logtime}" />
      <parameter name="@logger" layout="${event-properties:logger}" />
      <parameter name="@loglevel" layout="${event-properties:loglevel}" />
      <parameter name="@message" layout="${event-properties:message}" />
      <parameter name="@httpmethod" layout="${event-properties:httpmethod}" />
      <parameter name="@path" layout="${event-properties:path}" />
      <parameter name="@parameters" layout="${event-properties:parameters}" />
      <parameter name="@requestbody" layout="${event-properties:requestbody}" />
      <parameter name="@requestform" layout="${event-properties:requestform}" />
      <parameter name="@httpstatuscode" layout="${event-properties:httpstatuscode}" />
      <parameter name="@ip" layout="${event-properties:ip}" />
      <parameter name="@userid" layout="${event-properties:userid}" />
    </target>

    <target xsi:type="File" name="fileTarget" fileName="logs/logfile.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="databaseTarget" />
  </rules>
</nlog>