<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace"
  internalLogFile="nlog-internal.log">

  <variable name="connectionString" value="" />

  <targets>
    <target xsi:type="Database" name="database">
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        INSERT INTO [dbo].[Log] ([LogId], [LogTime], [Logger], [LogLevel], [Message], [HttpMethod], [Path], [Parameters], [RequestBody], [RequestForm], [HttpStatusCode], [IP], [UserId])
        VALUES (NEWID(), @LogTime, @Logger, @LogLevel, @Message, @HttpMethod, @Path, @Parameters, @RequestBody, @RequestForm, @HttpStatusCode, @IP, @UserId);
      </commandText>
      <parameter name="@LogTime" layout="${event-properties:logtime}" />
      <parameter name="@Logger" layout="${event-properties:logger}" />
      <parameter name="@LogLevel" layout="${event-properties:loglevel}" />
      <parameter name="@Message" layout="${event-properties:message}" />
      <parameter name="@HttpMethod" layout="${event-properties:httpmethod}" />
      <parameter name="@Path" layout="${event-properties:path}" />
      <parameter name="@Parameters" layout="${event-properties:parameters}" />
      <parameter name="@RequestBody" layout="${event-properties:requestbody}" />
      <parameter name="@RequestForm" layout="${event-properties:requestform}" />
      <parameter name="@HttpStatusCode" layout="${event-properties:httpstatuscode}" />
      <parameter name="@IP" layout="${event-properties:ip}" />
      <parameter name="@UserId" layout="${event-properties:userid}" dbType="Guid"/>    </target>

    <target xsi:type="File" name="fileTarget" fileName="logs/logfile.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
  </targets>

  <rules>
    <!--排除Microsoft 的啟動資訊-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>