{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "none",
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "insertPragma": false,
    "printWidth": 140,
    "tabWidth": 2,
    "useTabs": false,
    "embeddedLanguageFormatting": "auto",
    "jsxSingleQuote": false,
    "proseWrap": "always"
  }
  